html
    head
        link(rel="stylesheet" type="text/css" href="css/style.css")
        title #{title}
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        style
    body
        div.header
            h1 #{name_lastname}
            p #{education}
            img(src="images/usa.png" style="width:200px;height:80px;margin-left: 900px;position: relative;margin-top: -200px")
        div.nav
            ul
                li
                    a(href="/") Home
                li
                    a(href="/contact") Contact 
                li
                    a(href="https://www.facebook.com/profile.php?id=100024272060190") Facebook
                li
                    a(href="https://www.instagram.com/daa_vviid/") Instagram
                li
                    a(href="https://twitter.com/BotNet010") Twitter
        div.body-block
            h2 Contact&nbsp;Me
            p Nice way to contact me is a via <a href="https://www.facebook.com/profile.php?id=100024272060190">Facebook</a> or email at <kbd>chechelashvili.dato111@gmail.com</kbd>&nbsp;.

            h2 Social&nbsp;Media
                br
                br
                a(href="https://www.facebook.com/profile.php?id=100024272060190" style="padding-top: 10px;text-decoration: none;font-size: 20px") Facebook
                br
                br
                a(href="https://www.instagram.com/daa_vviid/" style="padding-top: 10px;text-decoration: none;font-size: 20px") Instagram
                br
                br
                a(href="https://twitter.com/BotNet010" style="padding-top: 10px;text-decoration: none;font-size: 20px") Twitter
        div.footer
            center
                br
                br
                p Copyright&nbsp;&copy&nbsp;#{Year},&nbsp;David&nbsp;Chechelashvili.&nbsp;All&nbsp;right&nbsp;reserved.
                br
                br